<samlp:LogoutRequest xmlns:samlp="urn:oasis:names:tc:SAML:2.0:protocol" xmlns:saml="urn:oasis:names:tc:SAML:2.0:assertion" Version="2.0"
  ID="${input.sloId}" IssueInstant="${new Date().toISOString()}">
  <saml:NameID>@NOT_USED@</saml:NameID>
  <samlp:SessionIndex>${input.st.tid}</samlp:SessionIndex>
</samlp:LogoutRequest>
